# Django (backend)

# Virtual environment 
venv/
.venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django local database
backend/db.sqlite3

# Django collected static files
backend/staticfiles/
backend/static_collected/

# Environment variables file
.env
.env.*
!.env.example


# React (frontend)

# Node modules
frontend/node_modules/

# Vite build output
frontend/dist/
frontend/build/

# Local environment files
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Vite cache
frontend/.vite/

# IDE & OS files

# VS Code
.vscode/
!.vscode/extensions.json


Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
repomix-output.xml

# Logs & temp files

*.log
*.tmp
*.temp
*.bak
*.swp
